.family {
  padding: 10px;
}
.clicked {
  background-color: rgb(194, 190, 190);
}
.App {
  display: flex;
  align-items: center;
}
.treeStructure {
  width: 30vw;
  height: 60vh;
  overflow: auto;
  border: solid grey;
  border-radius: 2%;
}
.clickables {
  width: 30vw;
  display: grid;
  grid-template-columns: auto auto;
}
.leftContainer {
  padding: 10px;
}
